h1{
    font-family: "Press Start 2P";
    text-decoration: underline;
    border-left-style: double;
    border-left-width: 20px;
padding:10px; 
border-left-color: gold;
border-top-left-radius: 10px;   
border-bottom-left-radius: 10px;
}
#p1{
    
}
#p3{
    border-style:ridge;
    border-width: 5px;
    border-color: gold;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    border-radius: 15px;
    padding: 8px;

}
body{
    background: linear-gradient(red,lightyellow,orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}